.header {
  height: 40vh;
  /* display: flex; */
  /* flex-direction: row; */
}

.header-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.menu-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  border-bottom: 1px solid #fff;
}

.menu {
  align-self: flex-end;
  width: 100%;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 10px;
}

.menu li.active {
  border-bottom: 4px solid #fe5000;
  font-weight: bold;
}

.form {
  position: absolute;
  top: 30px;
  grid-column-start: 1;
}

.chart {
  grid-column-start: 2;
}
